body {
  background-color: #0D041C;
  color: #FFFAFA;
  font-family: LatinModernMonoRegular, Latin Modern Mono, monospace;
  font-size: 13pt;
}
#frame {
  max-width: 900px;
}
a:link, a:hover, a:active, a:visited {
  color: #FFFAFA;
}
h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
p {
  margin: 0;
}
#top {
  margin-top: 0;
}
ul {
  margin: 0;
  padding: 0 0 0 1em;
}

