body {
    max-width: 100%;
    margin: 0;
    font: normal normal normal 16px/1.6em georgia,serif;
    color: #333;
}

@media all and (min-width: 95ex) {
    #content {
        margin: 1% 2%;
        max-width: 95ex;
    }

    .creator {
        float: right;
    }

    p, .org-ul {
        max-width: 95ex;
    }
}

@media not all and (min-width: 110ex) {
    .creator {
        float: left;
    }

    p img {
        width: 95%;
    }
}

#article-header {
    padding: 1em 2%;
    display: block;
    border-bottom: 5px solid #ccc;
    background-color: #3b6043;
    color: #ddd;
    font-family: "Menlo", "Dejavu Sans Mono", "Bitstream Vera Sans Mono", "Panic Sans", "Droid Sans Mono", monospace;
    font-size: 12pt;
    animation: bgtetrad 15s linear infinite alternate;
    -webkit-animation: bgtetrad 15s linear infinite alternate;
}

#article-header a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#table-of-contents a {
    text-decoration: none;
}

@keyframes bgtetrad {
    0%   { background-color: #3b6043; }
    25%  { background-color: #3b5860; }
    50%  { background-color: #603b58; }
    75%  { background-color: #60433b; }
}

@-webkit-keyframes bgtetrad {
    0%   { background-color: #3b6043; }
    25%  { background-color: #3b5860; }
    50%  { background-color: #603b58; }
    75%  { background-color: #60433b; }
}

.title {
    padding: .5em 0;
    color: black;
}

.subtitle {
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
}

.abstract {
    width: 80%;
    margin: auto;
    font-style: italic;
}

.abstract p:last-of-type:before {
    content: '    ';
    white-space: pre;
}

[class^='section-number-'] {
    margin-right: .5em;
}

#footnotes {
    font-size: 90%;
}

.footpara {
    display: inline;
    margin: .2em auto;
}

.footdef {
    margin-bottom: 1em;
}

.footdef sup {
    padding-right: .5em;
}

/* Prevent Superscripts and Subscripts from Affecting Line-Height */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

a {
    color: #527d9a;
}

a:hover {
    color: #003355;
}

p img {
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6 {
    color: #000;
    line-height: 1.6em;
    font-weight: 400;
    letter-spacing: -1;
}

h4,h5,h6 {
    font-size: 1em;
}

table {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid;
}

table td + td, table th + th {
    border-left: 1px solid gray;
}

table tr {
    border-top: 1px solid lightgray;
}

td,th {
    padding: 5px 10px;
    vertical-align: middle;
}

.org-ul {
    padding-left: 40px;
}

.org-ul li {
    margin: 0.8pt 0;
}

.org-ul li.on, .org-ul li.off {
    list-style-type: none;
    margin-left: -20px;
}

code {
    color: #333;
    white-space: pre;
    font: normal normal normal 14px/1.6em monospace;
}

pre {
    font: normal normal normal 14px/1.6em monospace;
    margin: 1.2em;
}

/*
   pre.src {
   overflow: auto;
   position: relative;
   font-size: 90%;
   }
 */

blockquote {
    margin: 1em 2em;
    padding-left: 1em;
    border-left: 3px solid #ccc;
}

kbd {
    background-color: #f7f7f7;
    font-size: 14px;
    margin: 0 .1em;
    padding: .1em .6em;
}

.figure {
    padding: 1em;
}

.figure p {
    text-align: center;
}

.todo, .done {
    color: white;
    background-color: darkred;
    border-radius: 3pt;
    padding: 3pt;
    font-size: 80%;
    font-family: monospace;
    min-width: 10em;
}

.done {
    background-color: darkgreen;
}

.priority {
    color: orange;
    font-family: monospace;
}

.tag {
    background-color: #eee;
    font-family: monospace;
    font-size: 80%;
    font-weight: normal;
    padding: 2px;
}

.timestamp {
    color: #bebebe;
}

.timestamp-kwd {
    color: #5f9ea0;
}

.org-right {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}

.org-left {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}

.org-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

p.verse {
    margin-left: 3%;
}

caption.t-above {
    caption-side: top;
}

caption.t-bottom {
    caption-side: bottom;
}

dt {
    font-weight: bold;
}

.inlinetask {
    background: #ffffcc;
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
}

.linenr {
    font-size: smaller;
}

.code-highlighted {
    background-color: #ffff00;
}

#bibliography {
    font-size: 90%;
}

#bibliography table {
    width: 100%;
}

/* code faces */
.org-comment-delimiter, .org-comment { color: #6b8e23; }
.org-string { color: #527d9a; }
